In [1]:
import numpy as np
import os
import pandas as pd

In [ ]:
# just sanity checking that results are the same after changing formats
esm_results_old_path = os.path.join('..', 'results/cadherin/esmfold/results.zip')
esm_results_old = np.load(esm_results_old_path)
job_name = 'cadherin'

esm_results_path = '../results/cadherin/esmfold_test/cadherin.npz'
esm_results = np.load(esm_results_path)

#number of sequences in Cadherin MSA
num_seqs = 55
#esm_results.keys()
esm_dfs = []
for i in range(num_seqs):
    # index into NPzFile object with file name
    contact_matrix_test = esm_results_old[f'{i}_{job_name}']
    
    
    assert np.all(contact_matrix_test == esm_results[f'arr_{i}'])

In [18]:
# ESMFOLD output
esmfold_results_path = '../results/cadherin/esmfold_test/cadherin.npz'
esmfold_results = np.load(esmfold_results_path)

# contact head output
esm_contacthead_path = os.path.join('..', 'results/cadherin/esmfold_test/cadherin_contacthead.npz')
esm_contacthead_results = np.load(esm_contacthead_path)
esm_contacthead_results

NpzFile '../results/cadherin/esmfold_test/cadherin_contacthead.npz' with keys: arr_0, arr_1, arr_2, arr_3, arr_4...

In [25]:
list(esm_contacthead_results.keys())

['arr_0',
 'arr_1',
 'arr_2',
 'arr_3',
 'arr_4',
 'arr_5',
 'arr_6',
 'arr_7',
 'arr_8',
 'arr_9',
 'arr_10',
 'arr_11',
 'arr_12',
 'arr_13',
 'arr_14',
 'arr_15',
 'arr_16',
 'arr_17',
 'arr_18',
 'arr_19',
 'arr_20',
 'arr_21',
 'arr_22',
 'arr_23',
 'arr_24',
 'arr_25',
 'arr_26',
 'arr_27',
 'arr_28',
 'arr_29',
 'arr_30',
 'arr_31',
 'arr_32',
 'arr_33',
 'arr_34',
 'arr_35',
 'arr_36',
 'arr_37',
 'arr_38',
 'arr_39',
 'arr_40',
 'arr_41',
 'arr_42',
 'arr_43',
 'arr_44',
 'arr_45',
 'arr_46',
 'arr_47',
 'arr_48',
 'arr_49',
 'arr_50',
 'arr_51',
 'arr_52',
 'arr_53',
 'arr_54']

In [ ]:
# all shpaes match up
for i in range(54):
    assert esmfold_results[f'arr_{i}'].shape == esm_contacthead_results[f'arr_{i}'].shape

In [3]:
df = pd.read_csv(os.path.join('..', 'data/cadherin/PF00028_2000_sequences_mfdca.csv'))

In [4]:
df

        first_site  second_site    mf_dca
0                0            1  0.000144
1                0            2  0.000144
2                0            3  0.000144
3                0            4  0.000144
4                0            5  0.000144
...            ...          ...       ...
268273         729          731  0.000144
268274         729          732  0.000144
268275         730          731  0.000144
268276         730          732  0.000144
268277         731          732  0.000144

[268278 rows x 3 columns]

In [5]:
df.sort_values(by='mf_dca', ascending=False)

        first_site  second_site        mf_dca
240793         498          509  4.849396e-01
116769         182          199  4.637876e-01
261724         618          620  4.037177e-01
261953         620          624  3.962712e-01
262174         622          624  3.247353e-01
...            ...          ...           ...
1088             1          358  4.112792e-07
6177             8          358  4.112792e-07
8343            11          358  4.112792e-07
3275             4          358  4.112792e-07
2547             3          358  4.112792e-07

[268278 rows x 3 columns]